<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Profile</title>
</head>
<body>
    <div class="heading">
        <h1>Profile</h1>
    </div>
    <div class="section2">
        <div class="personal">
            <div class="p1">
                <p>Name</p>
                <p><%- results.name %></p>
            </div>
            <div class="p1">
                <p>Email Id :</p>
                <p><%- results.EmailId %></p>
            </div>
            <div class="p1">
                <p>USN :</p>
                <p><%- results.USN %></p>
            </div>
            <div class="p1">
                <p>Role :</p>
                <p><%- results.role %></p>
            </div>
        </div>
        <div class="qr-code">
            <!-- Include your QR code image here -->
            <!-- <img src="path_to_qr_code_image.png" alt="QR Code"> -->
        </div>
    </div>
</body>
</html>
